img {
    max-width: 100%;
    max-height: 100%;
}



.centred {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , 50%);
}

.next {
    bottom: 5%;
    left: 40%;
    z-index: 10000;
}


.prev {
    left: 40%;
    z-index: 10000;
}

.active {
    border: 2px solid white;

}

.images img {
    height: calc(100%/5);

}

.current_image img {
    max-height: 400px;
}

.images img:not(.active) {
    filter: opacity(0.5);
}

 .current_image img:not(.show) {
    display: none;
 }


